[submodule "ace-builds"]
	path = sharejs-ace/ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "codemirror"]
	path = sharejs-cm/codemirror
	url = https://github.com/marijnh/codemirror
